<%- include ('../../Partials/headerStyle.ejs'); %>

<body class="vertical-layout vertical-menu-modern dark-layout 2-columns  navbar-floating footer-static  "
    data-open="click" data-menu="vertical-menu-modern" data-col="2-columns" data-layout="dark-layout">

    <%- include ('../../Partials/header.ejs'); %>

    <%- include ('../../Partials/menu.ejs'); %>

    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h2 class="content-header-title float-left mb-0">Características</h2>

                        </div>
                    </div>
                </div>

            </div>
            <div class="content-body">
                <section id="card-caps">
                    <div class="row" id="caracteristicas" name="caracteristicas">
                        <% for (var i = 0; i < caracteristicas.length; i++) { %>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="card text-white border-0 box-shadow-0 fonticon-container" id="<%= caracteristicas[i].id %>">
                                <div class="card-content">
                                    <img src="../../../app-assets/images/pages/caracteristicas/<%= caracteristicas[i].image %>"
                                        style="height: 150px;" class="card-img" alt="card-img-6">
                                    <div class="card-img-overlay overflow-hidden overlay-black">
                                        <h5 class="font-medium-5 text-white text-center"><%= caracteristicas[i].name %>
                                        </h5>
                                        <div class="d-flex justify-content-around mt-2">
                                            <div class="icon fonticon-container">
                                                <div class="col-md-4 col-sm-6 col-12">
                                                    <div class="fonticon-wrap"><i
                                                            class="<%= caracteristicas[i].icon %> font-large-2"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% } %>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>

    <footer class="footer footer-static footer-light">
        <button class="btn btn-primary btn-icon scroll-top" type="button" onclick="registrarCaracteristicas()">
            Salvar
        </button>
        </p>
    </footer>

    <script src="../../../app-assets/vendors/js/vendors.min.js"></script>

    <script src="../../../app-assets/js/core/app-menu.js"></script>
    <script src="../../../app-assets/js/core/app.js"></script>
    <script src="../../../app-assets/js/scripts/components.js"></script>
    <!-- END: Theme JS-->

</body>

<script>
    var selectMediasId = [];
    var selectMediasName = {};

    var caracteristicas = $("#caracteristicas").children();
    console.log(caracteristicas)

    caracteristicas.on("click", (event) => {
        var media_clicked = event.currentTarget.firstElementChild;
        hasAttribute(media_clicked) ?
            remove(media_clicked, selectMediasId) :
            add(media_clicked, selectMediasId);
    })

    function remove(clicked, selectArray) {
        removeAttribute(clicked);
        selectArray.splice(selectArray.indexOf(clicked.id), 1);
    }

    function add(clicked, selectArray) {
        addAttribute(clicked);
        selectArray.push(clicked.id);
    }

    function addAttribute(clicked) {
        clicked.setAttribute("style", "border: groove !important; border-color: white !important");
    }

    function removeAttribute(clicked) {
        clicked.removeAttribute("style");
    }

    function hasAttribute(clicked) {
        return clicked.hasAttribute("style");
    }

    function registrarCaracteristicas() {
        console.log(selectMediasId)
        $.ajax({
            type: 'post',
            url: 'http://localhost:3000/caracteristicas',
            data: {
                caracteristicas: selectMediasId,
                userId: JSON.parse(localStorage.currentUser).id
            },
            datatype: "application/json",
            success: function (retorno) {
                alert('Caracteristicas Cadastradas')
                window.location = `/imoveis`
            },
            error: function (retorno) {
                console.log('error', retorno)
            }
        })
    }
</script>

</html>