<%- include ('../../Partials/headerStyle.ejs'); %>

<body class="vertical-layout vertical-menu-modern dark-layout 2-columns  navbar-floating footer-static  "
    data-open="click" data-menu="vertical-menu-modern" data-col="2-columns" data-layout="dark-layout">

    <%- include ('../../Partials/header.ejs'); %>

    <%- include ('../../Partials/menu.ejs'); %>

    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <!-- Dashboard Analytics Start -->
                <section id="dashboard-analytics">

                    <div class="row">
                        <div class="col-md-6 col-12">
                            <div class="card">
                                <section id="component-swiper-fade-effect">
                                    <div class="card mb-0">
                                        <div class="card-header">
                                            <h4 class="card-title"><i class="fas fa-map-marker-alt"></i> Jardim São
                                                Caetano</h4>
                                        </div>
                                        <div class="card-content">
                                            <div class="card-body">
                                                <div class="swiper-fade-effect swiper-container">
                                                    <div class="swiper-wrapper">
                                                        <div class="swiper-slide"> <img class="img-fluid"
                                                                src="../../../app-assets/images/pages/imovel/bedroom.jpg"
                                                                alt="banner">
                                                        </div>
                                                        <div class="swiper-slide"> <img class="img-fluid"
                                                                src="../../../app-assets/images/banner/banner-19.jpg"
                                                                alt="banner">
                                                        </div>
                                                        <div class="swiper-slide"> <img class="img-fluid"
                                                                src="../../../app-assets/images/banner/banner-18.jpg"
                                                                alt="banner">
                                                        </div>
                                                        <div class="swiper-slide"> <img class="img-fluid"
                                                                src="../../../app-assets/images/banner/banner-17.jpg"
                                                                alt="banner">
                                                        </div>
                                                        <div class="swiper-slide"> <img class="img-fluid"
                                                                src="../../../app-assets/images/banner/banner-16.jpg"
                                                                alt="banner">
                                                        </div>
                                                    </div>
                                                    <!-- Add Pagination -->
                                                    <div class="swiper-pagination swiper-pagination-white"></div>
                                                    <!-- Add Arrows -->
                                                    <div class="swiper-button-next"></div>
                                                    <div class="swiper-button-prev"></div>
                                                </div>
                                                <div class="chart-info d-flex justify-content-between mb-1 mt-1">
                                                    <div class="series-info d-flex align-items-center">
                                                        <span class="text-bold-600 ml-50">Rua </span> Serra Redonda
                                                    </div>
                                                    <div class="series-info d-flex align-items-center">
                                                        <span class="text-bold-600 ml-50">Bairro </span> Jardim Guairacá
                                                    </div>
                                                </div>
                                                <div class="chart-info d-flex justify-content-between mt-1">
                                                    <div class="series-info d-flex align-items-center">
                                                        <span class="text-bold-600 ml-50">Cidade </span> São Paulo
                                                    </div>
                                                    <div class="series-info d-flex align-items-center">
                                                        <span class="text-bold-600 ml-50">Estado </span> São Paulo
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="row">
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="card">
                                        <div class="">
                                            <div class="card-body">
                                                <div
                                                    class="chart-info d-flex justify-content-between mb-1 col-lg-12 col-md-12 col-sm-12">
                                                    <button type="button" value="casa" disabled
                                                        class="btn btn-icon btn-flat-primary mb-1"><i class="fa fa-home"
                                                            aria-hidden="true"></i></button>
                                                    <button type="button" value="apto" disabled
                                                        class="btn btn-icon btn-flat-primary mb-1"><i
                                                            class="fa fa-building-o" aria-hidden="true"></i></button>
                                                    <button type="button" value="quarto" disabled
                                                        class="btn btn-icon btn-flat-primary mb-1"><i class="fa fa-bed"
                                                            aria-hidden="true"></i></button>
                                                </div>
                                                <div class="chart-info d-flex justify-content-between mb-1">
                                                    <div class="series-info d-flex align-items-center">
                                                        <span class="text-bold-600 ml-50">Aluguel</span>
                                                    </div>
                                                    <small class="secondary media-heading">
                                                        R$ 2700
                                                    </small>
                                                </div>
                                                <div class="chart-info d-flex justify-content-between mb-1">
                                                    <div class="series-info d-flex align-items-center">
                                                        <span class="text-bold-600 ml-50">Condomínio</span>
                                                        <a href="#modalCondominio" data-toggle="modal"
                                                            data-target="#modalCondominio"> <i
                                                                class="fa fa-info-circle ml-1"
                                                                aria-hidden="true"></i></a>
                                                    </div>
                                                    <small class="secondary media-heading">
                                                        R$ 498
                                                    </small>
                                                </div>

                                                <div class="chart-info d-flex justify-content-between">
                                                    <div class="series-info d-flex align-items-center">
                                                        <span class="text-bold-600 ml-50">IPTU</span>
                                                        <a href="#modalIptu" data-toggle="modal"
                                                            data-target="#modalIptu"> <i class="fa fa-info-circle"
                                                                aria-hidden="true"></i></a>
                                                    </div>
                                                    <small class="secondary media-heading">
                                                        R$ 60
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="card border-primary text-primary mr-1 mb-1">
                                        <div class="card-content">
                                            <div class="card-body text-center">
                                                <div class="text-center">
                                                    <h6>- Valor Total -</h6>
                                                    <h2 class="text-primary"><i class="fas fa-dollar-sign"></i> 1200
                                                        </h1>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="">
                                        <button type="button" class="btn btn-primary mr-1 mb-1" data-toggle="modal"
                                            data-target="#interessados">
                                            <i class="fas fa-users"></i>
                                            Listar Interessados</button>

                                        <div class="modal fade" id="interessados" tabindex="-1" role="dialog"
                                            aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-scrollable modal-xs modal-dialog-centered"
                                                role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header bg-primary white">
                                                        <h5 class="modal-title" id="exampleModalScrollableTitle">
                                                            Interessados neste imóvel <i class="far fa-heart"></i>
                                                        </h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div
                                                            class="d-flex justify-content-start align-items-center mb-1">
                                                            <div class="avatar mr-50">
                                                                <img src="../../../app-assets/images/portrait/small/avatar-s-5.jpg"
                                                                    alt="avtar img holder" height="35" width="35">
                                                            </div>
                                                            <div class="user-page-info">
                                                                <h6 class="mb-0">Carissa Dolle</h6>
                                                            </div>
                                                            <button type="button"
                                                                class="btn btn-primary btn-icon ml-auto"><i
                                                                    class="far fa-comment-alt"></i></button>
                                                        </div>
                                                        <div
                                                            class="d-flex justify-content-start align-items-center mb-1">
                                                            <div class="avatar mr-50">
                                                                <img src="../../../app-assets/images/portrait/small/avatar-s-5.jpg"
                                                                    alt="avtar img holder" height="35" width="35">
                                                            </div>
                                                            <div class="user-page-info">
                                                                <h6 class="mb-0">Carissa Dolle</h6>
                                                            </div>
                                                            <button type="button"
                                                                class="btn btn-primary btn-icon ml-auto"><i
                                                                    class="far fa-comment-alt"></i></button>

                                                        </div>
                                                        <div
                                                            class="d-flex justify-content-start align-items-center mb-1">
                                                            <div class="avatar mr-50">
                                                                <img src="../../../app-assets/images/portrait/small/avatar-s-5.jpg"
                                                                    alt="avtar img holder" height="35" width="35">
                                                            </div>
                                                            <div class="user-page-info">
                                                                <h6 class="mb-0">Carissa Dolle</h6>
                                                            </div>
                                                            <button type="button"
                                                                class="btn btn-primary btn-icon ml-auto"><i
                                                                    class="far fa-comment-alt"></i></button>

                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row match-height">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="card">
                                        <div class="card-header d-flex justify-content-between pb-0">
                                            <h4>Proprietário</h4>
                                            <button type="button"
                                                class="btn btn-flat-primary border-primary text-primary mr-1 mb-1"><i
                                                    class="ficon feather icon-message-square"></i> Conversar</button>
                                        </div>
                                        <div class="card-content">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-lg-2 col-md-2 col-sm-2">
                                                        <div class="avatar mr-50">
                                                            <img src="../../../app-assets/images/portrait/small/avatar-s-5.jpg"
                                                                alt="avtar img holder" height="35" width="35">
                                                        </div>
                                                        <div class="user-page-info">
                                                            <h6 class="primary media-heading">John Doe</h6>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-10 col-md-10 col-sm-10">
                                                        <small class="notification-text">
                                                            Meu nome é Wellington, tenho 26 anos, nasci e sempre residi
                                                            em
                                                            São Paulo.
                                                            Sou Químico por formação, porém trabalho atualmente no ramo
                                                            comercial, onde me encontrei e me realizo profissionalmente.
                                                        </small>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row match-height">
                        <div class="col-lg-4 col-12">
                            <div class="card">
                                <div class="card-content">
                                    <div class="card-header">
                                        <h4>Comodidades</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="col-lg-12 col-12">
                                            <div class="chart-info d-flex justify-content-between mb-1">
                                                <div class="series-info d-flex align-items-center">
                                                    <i class="fas fa-wifi text-success"></i>
                                                    <span class="text-bold-600 ml-50">Wi-fi</span>
                                                </div>

                                            </div>
                                            <div class="chart-info d-flex justify-content-between mb-1">
                                                <div class="series-info d-flex align-items-center">
                                                    <i class="fas fa-utensils text-success"></i>
                                                    <span class="text-bold-600 ml-50">Cozinha</span>
                                                </div>

                                            </div>
                                            <div class="chart-info d-flex justify-content-between mb-75">
                                                <div class="series-info d-flex align-items-center">
                                                    <i class="fas fa-swimmer text-success"></i>
                                                    <span class="text-bold-600 ml-50">Piscina</span>
                                                </div>
                                            </div>
                                            <hr>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-12">
                            <div class="card">
                                <div class="card-content">
                                    <div class="card-header">
                                        <h4>Avaliações</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="col-12">
                                            <p class="mb-0">Limpeza</p>
                                            <div class="progress progress-bar-primary mt-25">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="50"
                                                    aria-valuemin="50" aria-valuemax="100" style="width:50%"></div>
                                            </div>
                                            <%- include ('../../Partials/avaliacao.ejs'); %>
                                        </div>
                                        <div class="col-12">
                                            <p class="mb-0">Comunicação</p>
                                            <div class="progress progress-bar-primary mt-25">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="50"
                                                    aria-valuemin="50" aria-valuemax="100" style="width:50%"></div>
                                            </div>
                                            <%- include ('../../Partials/avaliacao.ejs'); %>
                                        </div>
                                        <div class="col-12">
                                            <p class="mb-0">Check-in</p>
                                            <div class="progress progress-bar-primary mt-25">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="50"
                                                    aria-valuemin="50" aria-valuemax="100" style="width:50%"></div>
                                            </div>
                                            <%- include ('../../Partials/avaliacao.ejs'); %>
                                        </div>
                                        <div class="col-12">
                                            <p class="mb-0">Precisão</p>
                                            <div class="progress progress-bar-primary mt-25">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="50"
                                                    aria-valuemin="50" aria-valuemax="100" style="width:50%"></div>
                                            </div>
                                            <%- include ('../../Partials/avaliacao.ejs'); %>
                                        </div>
                                        <div class="col-12">
                                            <p class="mb-0">Localização</p>
                                            <div class="progress progress-bar-primary mt-25">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="50"
                                                    aria-valuemin="50" aria-valuemax="100" style="width:50%"></div>
                                            </div>
                                            <%- include ('../../Partials/avaliacao.ejs'); %>
                                        </div>
                                        <div class="col-12">
                                            <p class="mb-0">Valor</p>
                                            <div class="progress progress-bar-primary mt-25">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="50"
                                                    aria-valuemin="50" aria-valuemax="100" style="width:50%"></div>
                                            </div>
                                            <%- include ('../../Partials/avaliacao.ejs'); %>
                                        </div>
                                        <button type="button" class="btn btn-primary mr-1 mb-1" data-toggle="modal"
                                            id="avaliar">
                                            <i class="fas fa-star"></i>
                                            Avaliar Imóvel
                                        </button>
                                        <button type="button" class="btn btn-primary mr-1 mb-1" data-toggle="modal"
                                            id="salvarAvaliacao">
                                            <i class="fas fa-save"></i>
                                            Salvar Avaliação
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-12 ">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Comentários</h4>
                                </div>
                                <div class="card-content">
                                    <div class="card-body">
                                        <div class="scrollable-container media-list">
                                            <div class="chart-info d-flex justify-content-between mb-1">
                                                <div class="series-info d-flex align-items-center">
                                                    <div class="media-left"><span><img class="round"
                                                                src="../../../app-assets/images/portrait/small/avatar-s-11.jpg"
                                                                alt="avatar" height="40" width="40"></span></div>
                                                    <div class="media-body"
                                                        style="margin-left: 10px; margin-right: 3px;">
                                                        <h6 class="primary media-heading">John Doe</h6>
                                                        <small class="notification-text">Ótimo atendimento, móveis em
                                                            bom
                                                            estado
                                                        </small>
                                                    </div>
                                                    <small class="secondary media-heading">
                                                        <i class="fas fa-star"></i> 4,9
                                                    </small>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="chart-info d-flex justify-content-between mb-1">
                                                <div class="series-info d-flex align-items-center">
                                                    <div class="media-left"><span><img class="round"
                                                                src="../../../app-assets/images/portrait/small/avatar-s-11.jpg"
                                                                alt="avatar" height="40" width="40"></span></div>
                                                    <div class="media-body"
                                                        style="margin-left: 10px; margin-right: 3px;">
                                                        <h6 class="primary media-heading">John Doe</h6>
                                                        <small class="notification-text">Ótimo atendimento, móveis em
                                                            bom
                                                            estado
                                                        </small>
                                                    </div>
                                                    <small class="secondary media-heading">
                                                        <i class="fas fa-star"></i> 4,9
                                                    </small>
                                                </div>
                                            </div>
                                            <hr>
                                        </div>
                                        <fieldset class="form-label-group mb-50">
                                            <textarea class="form-control" id="label-textarea" rows="3"
                                                placeholder="Add Comment"></textarea>
                                            <label for="label-textarea">Add Comment</label>
                                        </fieldset>
                                        <button type="button" class="btn btn-sm btn-primary">Post Comment</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row match-height">
                        <div class="col-lg-4 col-12">
                            <div class="card">
                                <div class="card-content">
                                    <div class="card-header">
                                        <h4>Regras</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="col-lg-12 col-12">
                                            <div class="chart-info d-flex justify-content-between mb-1">
                                                <div class="series-info d-flex align-items-center">
                                                    <i class="fas fa-paw text-success"></i>
                                                    <span class="text-bold-600 ml-50">Pet <i
                                                            class="fas fa-check"></i></span>
                                                </div>
                                            </div>
                                            <div class="chart-info d-flex justify-content-between mb-1">
                                                <div class="series-info d-flex align-items-center">
                                                    <i class="fas fa-smoking text-danger"></i>
                                                    <span class="text-bold-600 ml-50">Fumar <i
                                                            class="fas fa-times"></i></span>
                                                </div>
                                            </div>
                                            <div class="chart-info d-flex justify-content-between mb-75">
                                                <div class="series-info d-flex align-items-center">
                                                    <i class="fas fa-glass-cheers text-danger"></i>
                                                    <span class="text-bold-600 ml-50">Festas <i
                                                            class="fas fa-times"></i></span>
                                                </div>
                                            </div>
                                            <div class="chart-info d-flex justify-content-between mb-75">
                                                <div class="series-info d-flex align-items-center">
                                                    <i class="fas fa-volume-off text-danger"></i>
                                                    <span class="text-bold-600 ml-50">Barulho até as 22h <i
                                                            class="fas fa-times"></i></span>
                                                </div>
                                            </div>
                                            <hr>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8 col-12">
                            <div class="card">
                                <div class="card-content">
                                    <div class="card-header">
                                        <h4>Localização</h4>
                                    </div>
                                    <div class="card-body">
                                        <div id="basic-map" class="height-400"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row match-height">
                        <div class="col-lg-4 col-12">
                            <div class="card">
                                <div class="card-content">
                                    <div class="card-header">
                                        <h4 class="card-title"><i class="fas fa-map-marker-alt"></i> Jardim São
                                            Caetano</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="swiper-fade-effect swiper-container">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide"> <img class="img-fluid"
                                                        src="../../../app-assets/images/pages/imovel/bedroom.jpg"
                                                        alt="banner">
                                                </div>
                                                <div class="swiper-slide"> <img class="img-fluid"
                                                        src="../../../app-assets/images/banner/banner-19.jpg"
                                                        alt="banner">
                                                </div>
                                                <div class="swiper-slide"> <img class="img-fluid"
                                                        src="../../../app-assets/images/banner/banner-18.jpg"
                                                        alt="banner">
                                                </div>
                                                <div class="swiper-slide"> <img class="img-fluid"
                                                        src="../../../app-assets/images/banner/banner-17.jpg"
                                                        alt="banner">
                                                </div>
                                                <div class="swiper-slide"> <img class="img-fluid"
                                                        src="../../../app-assets/images/banner/banner-16.jpg"
                                                        alt="banner">
                                                </div>
                                            </div>
                                            <!-- Add Pagination -->
                                            <div class="swiper-pagination swiper-pagination-white"></div>
                                            <!-- Add Arrows -->
                                            <div class="swiper-button-next"></div>
                                            <div class="swiper-button-prev"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-12">
                            <div class="card">
                                <div class="card-content">
                                    <div class="card-header">
                                        <h4 class="card-title"><i class="fas fa-map-marker-alt"></i> Jardim São
                                            Caetano</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="swiper-fade-effect swiper-container">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide"> <img class="img-fluid"
                                                        src="../../../app-assets/images/pages/imovel/bedroom.jpg"
                                                        alt="banner">
                                                </div>
                                                <div class="swiper-slide"> <img class="img-fluid"
                                                        src="../../../app-assets/images/banner/banner-19.jpg"
                                                        alt="banner">
                                                </div>
                                                <div class="swiper-slide"> <img class="img-fluid"
                                                        src="../../../app-assets/images/banner/banner-18.jpg"
                                                        alt="banner">
                                                </div>
                                                <div class="swiper-slide"> <img class="img-fluid"
                                                        src="../../../app-assets/images/banner/banner-17.jpg"
                                                        alt="banner">
                                                </div>
                                                <div class="swiper-slide"> <img class="img-fluid"
                                                        src="../../../app-assets/images/banner/banner-16.jpg"
                                                        alt="banner">
                                                </div>
                                            </div>
                                            <!-- Add Pagination -->
                                            <div class="swiper-pagination swiper-pagination-white"></div>
                                            <!-- Add Arrows -->
                                            <div class="swiper-button-next"></div>
                                            <div class="swiper-button-prev"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title"><i class="fas fa-map-marker-alt"></i> Jardim São
                                        Caetano</h4>
                                </div>
                                <div class="card-content">
                                    <div class="card-body">
                                        <div class="swiper-fade-effect swiper-container">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide"> <img class="img-fluid"
                                                        src="../../../app-assets/images/pages/imovel/bedroom.jpg"
                                                        alt="banner">
                                                </div>
                                                <div class="swiper-slide"> <img class="img-fluid"
                                                        src="../../../app-assets/images/banner/banner-19.jpg"
                                                        alt="banner">
                                                </div>
                                                <div class="swiper-slide"> <img class="img-fluid"
                                                        src="../../../app-assets/images/banner/banner-18.jpg"
                                                        alt="banner">
                                                </div>
                                                <div class="swiper-slide"> <img class="img-fluid"
                                                        src="../../../app-assets/images/banner/banner-17.jpg"
                                                        alt="banner">
                                                </div>
                                                <div class="swiper-slide"> <img class="img-fluid"
                                                        src="../../../app-assets/images/banner/banner-16.jpg"
                                                        alt="banner">
                                                </div>
                                            </div>
                                            <!-- Add Pagination -->
                                            <div class="swiper-pagination swiper-pagination-white"></div>
                                            <!-- Add Arrows -->
                                            <div class="swiper-button-next"></div>
                                            <div class="swiper-button-prev"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </section>
                <div class="modal fade" id="modalCondominio" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable modal-s modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header bg-primary white">
                                <h5 class="modal-title" id="exampleModalScrollableTitle">
                                    Condomínio
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="d-flex justify-content-start align-items-center mb-1 text-white">
                                    Valor sujeito a alteração conforme deliberações condominiais,
                                    podendo, ainda, variar de acordo com as despesas fixas e
                                    eventuais do condomínio (ex.: água, luz, conservação e
                                    manutenção do prédio, entre outros).
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="modalIptu" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable modal-s modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header bg-primary white">
                                <h5 class="modal-title" id="exampleModalScrollableTitle">
                                    IPTU
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="d-flex justify-content-start align-items-center mb-1 text-white">
                                    O IPTU é um imposto municipal cujo valor é
                                    determinado pela prefeitura.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>

    <!-- BEGIN: Footer-->
    <footer class="footer footer-static footer-light">
        <p class="clearfix blue-grey lighten-2 mb-0"><span
                class="float-md-left d-block d-md-inline-block mt-25">COPYRIGHT &copy; 2019<a
                    class="text-bold-800 grey darken-2" href="https://1.envato.market/pixinvent_portfolio"
                    target="_blank">Pixinvent,</a>All rights Reserved</span><span
                class="float-md-right d-none d-md-block">Hand-crafted & Made with<i
                    class="feather icon-heart pink"></i></span>
            <button class="btn btn-primary btn-icon scroll-top" type="button"><i
                    class="feather icon-arrow-up"></i></button>
        </p>
    </footer>
    <!-- END: Footer-->


    <!-- BEGIN: Vendor JS-->
    <script src="../../../app-assets/vendors/js/vendors.min.js"></script>
    <!-- BEGIN Vendor JS-->

    <!-- BEGIN: Page Vendor JS-->
    <script src="../../../app-assets/vendors/js/charts/apexcharts.min.js"></script>
    <script src="../../../app-assets/vendors/js/extensions/tether.min.js"></script>
    <script src="../../../app-assets/vendors/js/extensions/shepherd.min.js"></script>
    <script src="../../../app-assets/vendors/js/extensions/swiper.min.js"></script>

    <!-- END: Page Vendor JS-->

    <!-- BEGIN: Theme JS-->
    <script src="../../../app-assets/js/core/app-menu.js"></script>
    <script src="../../../app-assets/js/core/app.js"></script>
    <script src="../../../app-assets/js/scripts/components.js"></script>
    <!-- END: Theme JS-->

    <!-- BEGIN: Page JS-->
    <script src="../../../app-assets/js/scripts/pages/dashboard-analytics.js"></script>
    <script src="../../../app-assets/js/scripts/extensions/swiper.js"></script>

    <script src="../../../app-assets/vendors/js/vendors.min.js"></script>
    <!-- BEGIN Vendor JS-->

    <!-- BEGIN: Page Vendor JS-->
    <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyBgjNW0WA93qphgZW-joXVR6VC3IiYFjfo"></script>
    <script src="../../../app-assets/vendors/js/charts/gmaps.min.js"></script>
    <!-- END: Page Vendor JS-->

    <!-- BEGIN: Theme JS-->
    <script src="../../../app-assets/js/core/app-menu.js"></script>
    <script src="../../../app-assets/js/core/app.js"></script>
    <script src="../../../app-assets/js/scripts/components.js"></script>
    <!-- END: Theme JS-->

    <!-- BEGIN: Page JS-->
    <script src="../../../app-assets/js/scripts/charts/gmaps/maps.js"></script>

    <!-- END: Page JS-->

</body>
<!-- END: Body-->

</html>