<%- include ('../../Partials/headerStyle.ejs'); %>

<body class="vertical-layout vertical-menu-modern dark-layout 2-columns  navbar-floating footer-static  "
    data-open="click" data-menu="vertical-menu-modern" data-col="2-columns" data-layout="dark-layout">

    <%- include ('../../Partials/header.ejs'); %>

    <%- include ('../../Partials/menu.ejs'); %>

    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <!-- Dashboard Analytics Start -->
                <section id="dashboard-analytics">

                    <div class="row">
                        <div class="col-md-6 col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4><i class="fa fa-map-marker" aria-hidden="true"></i> Endereço</h4>
                                </div>
                                <div class="card-content">
                                    <div class="card-body" style="height: 296px;">
                                        <form class="form" id="form_endereco" name="form_endereco">
                                            <div class="form-body">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <div class="form-label-group">
                                                            <input type="number" id="cep" class="form-control"
                                                                placeholder="CEP" name="cep">
                                                            <label for="cep">CEP</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="form-label-group">
                                                            <input id="rua" class="form-control" name="rua"
                                                                placeholder="Rua">
                                                            <label for="rua">Rua</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="form-label-group">
                                                            <input type="number" id="numero" class="form-control"
                                                                name="numero" placeholder="Número">
                                                            <label for="numero">Número</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="form-label-group">
                                                            <input id="complemento" class="form-control"
                                                                name="complemento" placeholder="Complemento">
                                                            <label for="complemento">Complemento</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="form-label-group">
                                                            <input id="bairro" class="form-control" name="bairro"
                                                                placeholder="Bairro">
                                                            <label for="bairro">Bairro</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="form-label-group">
                                                            <input id="cidade" class="form-control" name="cidade"
                                                                placeholder="Cidade">
                                                            <label for="cidade">Cidade</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="form-label-group">
                                                            <input id="estado" class="form-control" name="estado"
                                                                placeholder="Estado">
                                                            <label for="estado">Estado</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <button type="reset"
                                                            class="btn btn-outline-warning mr-1 mb-1">Apagar
                                                            tudo</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="row">
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <form id="form_produto" name="form_produto">
                                        <div class="card">
                                            <div class="">
                                                <div class="card-body" style="margin-left: -11px;">
                                                    <div class="chart-info d-flex justify-content-between mb-1 col-lg-12 col-md-12 col-sm-12"
                                                        id="tipo">
                                                        <div value="1" style="margin-right: 10px;"
                                                            class="btn btn-icon btn-flat-primary mb-1"><i
                                                                class="fa fa-home" aria-hidden="true"></i></div>

                                                        <div value="2" style="margin-right: 10px;"
                                                            class="btn btn-icon btn-flat-primary mb-1"><i
                                                                class="fa fa-building-o" aria-hidden="true"></i>
                                                        </div>

                                                        <div value="3" style="margin-right: 10px;"
                                                            class="btn btn-icon btn-flat-primary mb-1"><i
                                                                class="fa fa-bed" aria-hidden="true"></i></div>
                                                    </div>
                                                    <div class="chart-info d-flex justify-content-between mb-1">
                                                        <div class="series-info d-flex align-items-center">
                                                            <span class="text-bold-600 ml-50">Aluguel</span>
                                                        </div>
                                                        <div class="col-md-6 col-3">
                                                            <input class="form-control form-control-sm" type="text"
                                                            name="aluguel" id="aluguel">
                                                        </div>
                                                    </div>
                                                    <div class="chart-info d-flex justify-content-between mb-1">
                                                        <div class="series-info d-flex align-items-center">
                                                            <span class="text-bold-600 ml-50">Condomínio</span>
                                                            <a href="#modalCondominio" data-toggle="modal"
                                                                data-target="#modalCondominio"> <i
                                                                    class="fa fa-info-circle ml-1"
                                                                    aria-hidden="true"></i></a>
                                                        </div>
                                                        <div class="col-md-6 col-3">
                                                            <input class="form-control form-control-sm" type="text"
                                                                name="condominio" id="condominio">
                                                        </div>
                                                    </div>
                                                    <div class="chart-info d-flex justify-content-between">
                                                        <div class="series-info d-flex align-items-center">
                                                            <span class="text-bold-600 ml-50">IPTU</span>
                                                            <a href="#modalIptu" data-toggle="modal"
                                                                data-target="#modalIptu"> <i class="fa fa-info-circle"
                                                                    aria-hidden="true"></i></a>
                                                        </div>
                                                        <div class="col-md-6 col-3">
                                                            <input class="form-control form-control-sm" type="text"
                                                                name="iptu" id="iptu" onfocusout="totalizar()">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>

                                    <div class="card border-primary text-primary">
                                        <div class="card-content">
                                            <div class="card-body text-center">
                                                <div class="text-center" >
                                                    <h6>- Valor Total -</h6>
                                                    <h2 class="text-primary"id="total" name="total"><i class="fas fa-dollar-sign" ></i>
                                                    </h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="card" style="height: 341px;">
                                        <div class="card-content">
                                            <div class="card-header">
                                                <h4>Regras</h4>

                                            </div>
                                            <div class="card-body">
                                                <div class="col-lg-12 col-12" style="margin-left: -10px;" id="regras">
                                                    <% for (var i = 0; i < regras.length; i++) { %>
                                                    <div class="chart-info d-flex justify-content-between">
                                                        <div class="series-info d-flex align-items-center">
                                                            <i class="<%= regras[i].icon %>"></i>
                                                            <span
                                                                class="text-bold-600 ml-50"><%= regras[i].name %></span>
                                                        </div>
                                                        <small class="secondary media-heading">
                                                            <li class="d-inline-block">
                                                                <fieldset>
                                                                    <div class="vs-checkbox-con vs-checkbox-primary"
                                                                        style="margin-right: -15px;">
                                                                        <input type="checkbox" value="false"
                                                                            id="<%='rule_'+ regras[i].id %>">
                                                                        <span class="vs-checkbox">
                                                                            <span class="vs-checkbox--check">
                                                                                <i
                                                                                    class="vs-icon feather icon-check"></i>
                                                                            </span>
                                                                        </span>
                                                                    </div>
                                                                </fieldset>
                                                            </li>
                                                        </small>
                                                    </div>
                                                    <% } %>
                                                    <hr>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row match-height">
                        <div class="col-lg-4 col-12">
                            <div class="card" style="height: 253px;">
                                <div class="card-content">
                                    <div class="card-header">
                                        <h4>Comodidades</h4>
                                    </div>

                                    <div class="card-body">
                                        <div class="col-lg-12 col-12 scrollable-container"
                                            style="max-height: 167px; display: block;" id="comodidades">
                                            <% for (var i = 0; i < comodidades.length; i++) { %>
                                            <div class="chart-info d-flex justify-content-between">
                                                <div class="series-info d-flex align-items-center">
                                                    <i class="<%= comodidades[i].icon %>"></i>
                                                    <span class="text-bold-600 ml-50"><%= comodidades[i].name %></span>
                                                </div>
                                                <small class="secondary media-heading">
                                                    <li class="d-inline-block mr-2">
                                                        <fieldset>
                                                            <div class="vs-checkbox-con vs-checkbox-primary">
                                                                <input type="checkbox" value="false"
                                                                    id="<%='com_' + comodidades[i].id %>">
                                                                <span class="vs-checkbox">
                                                                    <span class="vs-checkbox--check">
                                                                        <i class="vs-icon feather icon-check"></i>
                                                                    </span>
                                                                </span>
                                                            </div>
                                                        </fieldset>
                                                    </li>
                                                </small>

                                            </div>
                                            <% } %>
                                            <hr>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8 col-12">
                            <div class="card" style="height: 245px;">
                                <div class="card-content">
                                    <div class="card-header">
                                        <h4>Fotos</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="swiper-fade-effect swiper-container" style="margin-top: 35px;">
                                            <!-- <div class="swiper-wrapper"> -->
                                            <form enctype="multipart/form-data" id="imagens">
                                                <input id="foto" type="file" name="foto" accept="image/*"
                                                    enctype="multipart/form-data"
                                                    class="btn btn-primary d-none d-sm-block mr-75" multiple></input>
                                            </form>
                                            <!-- <div class="swiper-pagination swiper-pagination-white"></div>
                                            <div class="swiper-button-next"></div>
                                            <div class="swiper-button-prev"></div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row col-lg-6 col-6 justify-content-between">
                        <div class="chart-info d-flex mb-1">
                            <button type="button" id="btnSalvar" name="btnSalvar" onclick="submit_form()"
                                class="btn btn-primary mr-1 mb-1">
                                Salvar
                            </button>
                        </div>
                    </div>

                </section>

                <div class="modal fade" id="modalCondominio" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable modal-s modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header bg-primary white">
                                <h5 class="modal-title" id="exampleModalScrollableTitle">
                                    Condomínio
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="d-flex justify-content-start align-items-center mb-1 text-white">
                                    Valor sujeito a alteração conforme deliberações condominiais,
                                    podendo, ainda, variar de acordo com as despesas fixas e
                                    eventuais do condomínio (ex.: água, luz, conservação e
                                    manutenção do prédio, entre outros).
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="modalIptu" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable modal-s modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header bg-primary white">
                                <h5 class="modal-title" id="exampleModalScrollableTitle">
                                    IPTU
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="d-flex justify-content-start align-items-center mb-1 text-white">
                                    O IPTU é um imposto municipal cujo valor é
                                    determinado pela prefeitura.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>

    <footer class="footer footer-static footer-light">

    </footer>

    <script src="../../../app-assets/vendors/js/vendors.min.js"></script>

    <script src="../../../app-assets/vendors/js/charts/apexcharts.min.js"></script>
    <script src="../../../app-assets/vendors/js/extensions/tether.min.js"></script>
    <script src="../../../app-assets/vendors/js/extensions/shepherd.min.js"></script>
    <script src="../../../app-assets/vendors/js/extensions/swiper.min.js"></script>

    <script src="../../../app-assets/js/core/app-menu.js"></script>
    <script src="../../../app-assets/js/core/app.js"></script>
    <script src="../../../app-assets/js/scripts/components.js"></script>

    <script src="../../../app-assets/js/scripts/pages/dashboard-analytics.js"></script>
    <script src="../../../app-assets/js/scripts/extensions/swiper.js"></script>

    <script src="../../../app-assets/vendors/js/vendors.min.js"></script>

    <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyBgjNW0WA93qphgZW-joXVR6VC3IiYFjfo"></script>
    <script src="../../../app-assets/vendors/js/charts/gmaps.min.js"></script>

    <script src="../../../app-assets/js/core/app-menu.js"></script>
    <script src="../../../app-assets/js/core/app.js"></script>
    <script src="../../../app-assets/js/scripts/components.js"></script>

    <script src="../../../app-assets/js/scripts/charts/gmaps/maps.js"></script>

</body>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.js"></script>
<script src="../../../app-assets/js/scripts/jquery.mask.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script type="text/javascript">
    var foto = document.getElementById('foto');
    var fileList = [];
    var imovelInfo = new Object();
    var user;
    var tipoImovel
    var total;
    var tipo = $("#tipo").children("div")
    tipo.on("click", (event) => {
        for (i = 0; i < tipo.length; i++) {
            $(tipo[i]).removeClass("imovelType")
        }
        tipoImovel = event.currentTarget.getAttribute('value')

        $(event.currentTarget).addClass("imovelType")
    })

    function addAttribute(clicked) {
        clicked.setAttribute("style", "color: #7472f0 !important;");
    }

    function removeAttribute(clicked) {
        clicked.removeAttribute("style");
    }

    function submit_form() {
        console.log('click')
        $('#form_produto').validate({
            rules: {
                aluguel: {
                    required: true,
                },
                condominio: {
                    required: true,
                },
                iptu: {
                    required: true
                }
            },
            messages: {
                aluguel: {
                    aluguel: "O campo aluguel é obrigatório.",
                },
                condominio: {
                    required: "O campo condominio é obrigatório.",
                },
                iptu: {
                    required: "O campo iptu é obrigatório."
                }
            }
        });
        if (!$("#form_produto").valid()) {
            $('#aluguel').focus();
            return;
        }
        else {
            $('#form_endereco').validate({
                rules: {
                    cep: {
                        required: true,
                        minlength: 8
                    },
                    rua: {
                        required: true
                    },
                    numero: {
                        required: true
                    },
                    bairro: {
                        required: true
                    },
                    cidade: {
                        required: true
                    },
                    estado: {
                        required: true
                    }
                },
                messages: {
                    cep: {
                        aluguel: "O campo Cep é obrigatório.",
                        minlength: "O campo CEP deve conter 8 digitos",
                    },
                    rua: {
                        required: "O campo Rua é obrigatório.",
                    },
                    numero: {
                        required: "O campo numero é obrigatório.",
                    },
                    bairro: {
                        required: "O campo bairro é obrigatório",
                    },
                    cidade: {
                        required: "o campo cidade é obrigatório",
                    },
                    estado: {
                        required: "o campo estado é obrigatório"
                    }
                }
            });
            if (!$("#form_endereco").valid()) {
                $("#cep").focus();
                return;
            }
            else {
                create_product();
            }
        };
    }
    function create_product() {
        let site = "http://localhost:3000";
        console.log('chegou aqui >>>>> ', $('#form_produto').serialize())
        $.ajax({
            type: 'post',
            url: site + '/imoveis',
            data: JSON.stringify({
                aluguel: $("#aluguel").val(),
                condo: $("#condominio").val(),
                iptu: $("#iptu").val(),
                userId: user.id
            }),
            dataType: "json",
            contentType: "application/json",
            success: function (retorno) {
                console.log('success', retorno)
                localStorage.setItem("createdProduct", JSON.stringify(retorno.data));
                vincular_endereco();

            },
            error: function (retorno) {
                console.log('error', retorno)
            }
        })
    }
    function vincular_endereco() {
        let site = "http://localhost:3000";
        imovelInfo = JSON.parse(localStorage.getItem("createdProduct"));
        console.log('chegou aqui >>>>> ', $('#form_endereco').serialize())
        $.ajax({
            type: 'post',
            url: site + '/endereco',
            data: JSON.stringify({
                cep: $("#cep").val(),
                state: $("#estado").val(),
                city: $("#cidade").val(),
                district: $("#bairro").val(),
                street: $("#rua").val(),
                number: $("#numero").val(),
                complement: $("#complemento").val(),
                avaliable: 1,
                deleted: 0,
                productId: imovelInfo.id,
                addressTypeId: tipoImovel
            }),
            dataType: "json",
            contentType: "application/json",
            success: function (retorno) {
                //console.log('success', retorno)
                gravar_avaliacao();
            },
            error: function (retorno) {
                console.log('error', retorno)
            }
        })
    }
    function gravar_avaliacao() {
        let site = "http://localhost:3000";
        imovelInfo = JSON.parse(localStorage.getItem("createdProduct"));
        $.ajax({
            type: 'post',
            url: site + '/avaliacao',
            data: JSON.stringify({
                limpeza: 5,
                comunicacao: 5,
                checkin: 5,
                precisao: 5,
                localizacao: 5,
                valor: 5,
                qtdAvaliacoes: 1,
                productId: imovelInfo.id
            }),
            dataType: "json",
            contentType: "application/json",
            success: function (retorno) {
                gravar_regras();
            },
            error: function (retorno) {
                console.log('error', retorno)
            }
        })
    }

    function gravar_comodidades() {
        let site = "http://localhost:3000";
        imovelInfo = JSON.parse(localStorage.getItem("createdProduct"));
        let x = new Object();
        x.comodidades = [];
        for (z = 1; z <= 27; z++) {
            if ($('#com_' + z).is(":checked")) {
                x.comodidades.push(z);

            }
        }
        x.productId = imovelInfo.id;
        $.ajax({
            type: 'post',
            url: site + '/attribute',
            data: JSON.stringify(x),
            dataType: "json",
            contentType: "application/json",
            success: function (retorno) {
                //alert('comodidades gravadas');
                storeProductImage(fileList);
            },
            error: function (retorno) {
                console.log('error', retorno)
            }
        })
    }


    function gravar_regras() {
        let site = "http://localhost:3000";
        imovelInfo = JSON.parse(localStorage.getItem("createdProduct"));
        let f = new Object();
        f.regras = [];
        for (h = 1; h <= 4; h++) {
            if ($('#rule_' + h).is(":checked")) {
                f.regras.push(h);

            }
        }
        f.productId = imovelInfo.id;
        $.ajax({
            type: 'post',
            url: site + '/rule',
            data: JSON.stringify(f),
            dataType: "json",
            contentType: "application/json",
            success: function (retorno) {
                //alert('regras gravadas');
                fileList.forEach(function (file) {
                   gravar_comodidades();
                });
            },
            error: function (retorno) {
                console.log('error', retorno)
            }
        })
    }



    function storeProductImage(file) {
        imovelInfo = JSON.parse(localStorage.getItem("createdProduct"));
        var formData = new FormData();
        formData.set('filename', file);
        formData.append('productId', imovelInfo.id);
        $.ajax({
            type: 'POST',
            url: '/product',
            data: formData,
            dataType: 'json',
            contentType: "application/json",
            processData: false,
            contentType: false,
            success: function (retorno) {
                var imovelInfo = JSON.parse(localStorage.getItem("createdProduct"));
                imovelInfo.image.name = retorno.data.name;
                localStorage.removeItem('createdProcut')
                localStorage.setItem('createdProduct', JSON.stringify(imovelInfo))
                notificacao(false, '#626262', 'success', 'Fotos adicionadas')
                setTimeout(function () {
                    document.location.reload(true);
                }, 1000);
                alert("deu bom");
            },
            error: function (xhr, status, error) {
                console.log('Error: ' + error.message);
            }
        });
        event.preventDefault();
    };

    function totalizar(){
        total = parseInt($("#aluguel").val()) + parseInt($("#condominio").val()) + parseInt($("#iptu").val());
        $("#total").empty();
        $("#total").append(total);
    }




    $(document).ready(function () {
        $('#aluguel').mask('00000,00');
        $('#condominio').mask('00000,00');
        $('#iptu').mask('00000,00',);
        user = JSON.parse(localStorage.getItem("currentUser"));
        foto.addEventListener('change', function (evnt) {
            fileList = [];
            for (var i = 0; i < foto.files.length; i++) {
                fileList.push(foto.files[i]);
            }
        });
    });
</script>

</html>