<%- include ('../../Partials/headerStyle.ejs'); %>

<body class="vertical-layout vertical-menu-modern dark-layout 2-columns  navbar-floating footer-static  "
    data-open="click" data-menu="vertical-menu-modern" data-col="2-columns" data-layout="dark-layout">

    <%- include ('../../Partials/header.ejs'); %>

    <%- include ('../../Partials/menu.ejs'); %>

    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <!-- Dashboard Analytics Start -->
                <section id="dashboard-analytics">

                    <div class="row">
                        <div class="col-md-6 col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4><i class="fa fa-map-marker" aria-hidden="true"></i> Endereço</h4>
                                </div>
                                <div class="card-content">
                                    <div class="card-body" style="height: 296px;">
                                        <form class="form">
                                            <div class="form-body">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <div class="form-label-group">
                                                            <input type="text" id="cep" class="form-control"
                                                                placeholder="CEP" name="cep">
                                                            <label for="cep">CEP</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="form-label-group">
                                                            <input id="rua" class="form-control" name="rua"
                                                                placeholder="Rua">
                                                            <label for="rua">Rua</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="form-label-group">
                                                            <input type="number" id="numero" class="form-control"
                                                                name="numero" placeholder="Número">
                                                            <label for="numero">Número</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="form-label-group">
                                                            <input id="complemento" class="form-control"
                                                                name="complemento" placeholder="Complemento">
                                                            <label for="complemento">Complemento</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="form-label-group">
                                                            <input id="bairro" class="form-control" name="bairro"
                                                                placeholder="Bairro">
                                                            <label for="bairro">Bairro</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="form-label-group">
                                                            <input id="cidade" class="form-control" name="cidade"
                                                                placeholder="Cidade">
                                                            <label for="cidade">Cidade</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="form-label-group">
                                                            <input id="estado" class="form-control" name="estado"
                                                                placeholder="Estado">
                                                            <label for="estado">Estado</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <button type="reset"
                                                            class="btn btn-outline-warning mr-1 mb-1">Apagar
                                                            tudo</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="row">
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="card">
                                        <div class="">
                                            <div class="card-body" style="margin-left: -11px;">
                                                <div class="chart-info d-flex justify-content-between mb-1 col-lg-12 col-md-12 col-sm-12"
                                                    id="tipo">
                                                    <div value="1" style="margin-right: 10px;"
                                                        class="btn btn-icon btn-flat-primary mb-1"><i class="fa fa-home"
                                                            aria-hidden="true"></i></div>

                                                    <div value="2" style="margin-right: 10px;"
                                                        class="btn btn-icon btn-flat-primary mb-1"><i
                                                            class="fa fa-building-o" aria-hidden="true"></i>
                                                    </div>

                                                    <div value="3" style="margin-right: 10px;"
                                                        class="btn btn-icon btn-flat-primary mb-1"><i class="fa fa-bed"
                                                            aria-hidden="true"></i></div>
                                                </div>
                                                <div class="chart-info d-flex justify-content-between mb-1">
                                                    <div class="series-info d-flex align-items-center">
                                                        <span class="text-bold-600 ml-50">Aluguel</span>
                                                    </div>
                                                    <div class="col-md-6 col-3">
                                                        <input class="form-control form-control-sm" type="text"
                                                            placeholder="R$ 2700">
                                                    </div>
                                                </div>
                                                <div class="chart-info d-flex justify-content-between mb-1">
                                                    <div class="series-info d-flex align-items-center">
                                                        <span class="text-bold-600 ml-50">Condomínio</span>
                                                        <a href="#modalCondominio" data-toggle="modal"
                                                            data-target="#modalCondominio"> <i
                                                                class="fa fa-info-circle ml-1"
                                                                aria-hidden="true"></i></a>
                                                    </div>
                                                    <div class="col-md-6 col-3">
                                                        <input class="form-control form-control-sm" type="text"
                                                            placeholder="R$ 498">
                                                    </div>
                                                </div>
                                                <div class="chart-info d-flex justify-content-between">
                                                    <div class="series-info d-flex align-items-center">
                                                        <span class="text-bold-600 ml-50">IPTU</span>
                                                        <a href="#modalIptu" data-toggle="modal"
                                                            data-target="#modalIptu"> <i class="fa fa-info-circle"
                                                                aria-hidden="true"></i></a>
                                                    </div>
                                                    <div class="col-md-6 col-3">
                                                        <input class="form-control form-control-sm" type="text"
                                                            placeholder="R$ 30">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card border-primary text-primary">
                                        <div class="card-content">
                                            <div class="card-body text-center">
                                                <div class="text-center">
                                                    <h6>- Valor Total -</h6>
                                                    <h2 class="text-primary"><i class="fas fa-dollar-sign"></i> 1200
                                                        </h1>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="card" style="height: 341px;">
                                        <div class="card-content">
                                            <div class="card-header">
                                                <h4>Regras</h4>
                                            </div>
                                            <div class="card-body">
                                                <div class="col-lg-12 col-12" style="margin-left: -10px;" id="regras">
                                                    <% for (var i = 0; i < regras.length; i++) { %>
                                                    <div class="chart-info d-flex justify-content-between">
                                                        <div class="series-info d-flex align-items-center">
                                                            <i class="<%= regras[i].icon %>"></i>
                                                            <span
                                                                class="text-bold-600 ml-50"><%= regras[i].name %></span>
                                                        </div>
                                                        <small class="secondary media-heading">
                                                            <li class="d-inline-block">
                                                                <fieldset>
                                                                    <div class="vs-checkbox-con vs-checkbox-primary">
                                                                        <input type="checkbox" value="false"
                                                                            id="<%= regras[i].id %>">
                                                                        <span class="vs-checkbox" style="margin-right: -15px;">
                                                                            <span class="vs-checkbox--check">
                                                                                <i
                                                                                    class="vs-icon feather icon-check"></i>
                                                                            </span>
                                                                        </span>
                                                                    </div>
                                                                </fieldset>
                                                            </li>
                                                        </small>
                                                    </div>
                                                    <% } %>
                                                    <hr>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row match-height">
                        <div class="col-lg-4 col-12">
                            <div class="card" style="height: 253px;">
                                <div class="card-content">
                                    <div class="card-header">
                                        <h4>Comodidades</h4>
                                    </div>

                                    <div class="card-body">
                                        <div class="col-lg-12 col-12 scrollable-container"
                                            style="max-height: 167px; display: block;" id="comodidades">
                                            <% for (var i = 0; i < comodidades.length; i++) { %>
                                            <div class="chart-info d-flex justify-content-between">
                                                <div class="series-info d-flex align-items-center">
                                                    <i class="<%= comodidades[i].icon %>"></i>
                                                    <span class="text-bold-600 ml-50"><%= comodidades[i].name %></span>
                                                </div>
                                                <small class="secondary media-heading">
                                                    <li class="d-inline-block mr-2">
                                                        <fieldset>
                                                            <div class="vs-checkbox-con vs-checkbox-primary">
                                                                <input type="checkbox" value="false"
                                                                    id="<%= comodidades[i].id %>">
                                                                <span class="vs-checkbox">
                                                                    <span class="vs-checkbox--check">
                                                                        <i class="vs-icon feather icon-check"></i>
                                                                    </span>
                                                                </span>
                                                            </div>
                                                        </fieldset>
                                                    </li>
                                                </small>

                                            </div>
                                            <% } %>
                                            <hr>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8 col-12">
                            <div class="card" style="height: 245px;">
                                <div class="card-content">
                                    <div class="card-header">
                                        <h4>Fotos</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="swiper-fade-effect swiper-container" style="margin-top: 35px;">
                                            <!-- <div class="swiper-wrapper"> -->
                                                <form enctype="multipart/form-data" id="imagens">
                                                    <input id="foto" type="file" name="foto" accept="image/*"
                                                        class="btn btn-primary d-none d-sm-block mr-75"></input>
                                                </form>
                                            <!-- <div class="swiper-pagination swiper-pagination-white"></div>
                                            <div class="swiper-button-next"></div>
                                            <div class="swiper-button-prev"></div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row col-lg-6 col-6 justify-content-between">
                        <div class="chart-info d-flex mb-1">
                            <button type="button" class="btn btn-primary mr-1 mb-1">
                                Salvar
                            </button>
                        </div>
                    </div>

                </section>

                <div class="modal fade" id="modalCondominio" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable modal-s modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header bg-primary white">
                                <h5 class="modal-title" id="exampleModalScrollableTitle">
                                    Condomínio
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="d-flex justify-content-start align-items-center mb-1 text-white">
                                    Valor sujeito a alteração conforme deliberações condominiais,
                                    podendo, ainda, variar de acordo com as despesas fixas e
                                    eventuais do condomínio (ex.: água, luz, conservação e
                                    manutenção do prédio, entre outros).
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="modalIptu" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable modal-s modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header bg-primary white">
                                <h5 class="modal-title" id="exampleModalScrollableTitle">
                                    IPTU
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="d-flex justify-content-start align-items-center mb-1 text-white">
                                    O IPTU é um imposto municipal cujo valor é
                                    determinado pela prefeitura.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>

    <!-- BEGIN: Footer-->
    <footer class="footer footer-static footer-light">

    </footer>
    <!-- END: Footer-->


    <!-- BEGIN: Vendor JS-->
    <script src="../../../app-assets/vendors/js/vendors.min.js"></script>
    <!-- BEGIN Vendor JS-->

    <!-- BEGIN: Page Vendor JS-->
    <script src="../../../app-assets/vendors/js/charts/apexcharts.min.js"></script>
    <script src="../../../app-assets/vendors/js/extensions/tether.min.js"></script>
    <script src="../../../app-assets/vendors/js/extensions/shepherd.min.js"></script>
    <script src="../../../app-assets/vendors/js/extensions/swiper.min.js"></script>

    <!-- END: Page Vendor JS-->

    <!-- BEGIN: Theme JS-->
    <script src="../../../app-assets/js/core/app-menu.js"></script>
    <script src="../../../app-assets/js/core/app.js"></script>
    <script src="../../../app-assets/js/scripts/components.js"></script>
    <!-- END: Theme JS-->

    <!-- BEGIN: Page JS-->
    <script src="../../../app-assets/js/scripts/pages/dashboard-analytics.js"></script>
    <script src="../../../app-assets/js/scripts/extensions/swiper.js"></script>

    <script src="../../../app-assets/vendors/js/vendors.min.js"></script>

    <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyBgjNW0WA93qphgZW-joXVR6VC3IiYFjfo"></script>
    <script src="../../../app-assets/vendors/js/charts/gmaps.min.js"></script>

    <script src="../../../app-assets/js/core/app-menu.js"></script>
    <script src="../../../app-assets/js/core/app.js"></script>
    <script src="../../../app-assets/js/scripts/components.js"></script>

    <script src="../../../app-assets/js/scripts/charts/gmaps/maps.js"></script>

</body>
<script>
    var tipoImovel
    var tipo = $("#tipo").children("div")
    tipo.on("click", (event) => {
        for (i = 0; i < tipo.length; i++) {
            $(tipo[i]).removeClass("imovelType")
        }
        tipoImovel = event.currentTarget.getAttribute('value')

        $(event.currentTarget).addClass("imovelType")
    })

    function addAttribute(clicked) {
        clicked.setAttribute("style", "color: #7472f0 !important;");
    }

    function removeAttribute(clicked) {
        clicked.removeAttribute("style");
    }
</script>

</html>